*{
    margin: 0;
    padding: 0;
    font-family: 'Varela', sans-serif;
}

.img-url{
    background:url(img/libros.jpg)no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.nav-bar{
    width: 100%;
    background-color: #e9d1787d;
    position: sticky;
    top: 0;
}

.icon {
    color: #000000;
}

.nav-lista{
    justify-content: flex-end;
}

.links {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.proa{
    letter-spacing: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marca-centrada {
    position: relative;
    bottom: 240px;
}

.marca-centrada{
    background-color: #e9d1787d;
}

.marca-centrada h5{
    display: block;
    margin-bottom: 0px;
    color: #000000;
    font-family: monospace;
    white-space: nowrap;
    border-right: 2px solid;
    width: 29ch;
    animation: typing 2.5s steps(29), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from{width: 0;}
} 

@keyframes blink {
    50% {border-color: transparent;}
}


/* Tienda,carrito y medias de estos */

main {
    display: flex;
    background-color: #f3f0e1;
}

.tienda-container{
    display: flex;
    justify-content:space-between;
}

#tienda-titulo{
    text-align: center;
    margin-top: 2rem;
}

.galeria-carrito .tarjeta-responsive{
    width: 250px;
}

.carrito{
    min-width: 282px;
    margin-top: 1rem;
}

.carrito h4,h5{
    text-align: center;
}

.botones {
    display: flex;
    justify-content: center;
}

.empty{
    min-width: 90px;
}

.body-responsive .text-muted{
    margin: 0;
}

.tarjeta-responsive{
    width:280px;
    height: 160px;
    background-color: #f0f0f060;
    box-shadow: 2px 2px 5px -1px rgb(0 0 0 / 70%);
    margin: 1rem;
}

.img-contenedor{
    display: flex;
    align-items: center;
}

.centrar-contenido{
    align-self: center;
}

.btn2{
    margin-right: 5px;
}

@media(max-width:767px){
    .tarjeta-responsive{
        width: 220px;
        height: 360px;
    }
    .tienda-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .img-responsive {
        height: 200px;
        position: relative;
        left: 25px;
    }
    .body-responsive{
        position: relative;
        left: 25px;
    }
    .cart-img-responsive{
        height: 80px;
    }
    .cart-responsive {
        flex-direction: row;
    }
    .row>* {
        width: auto;
    }
    .carrito-cuerpo {
        display: flex;
        flex-direction: column;
    }
    .galeria-carrito .card-group .row {
        flex-wrap: nowrap;
    }
    .body-responsive .text-muted{
        margin: 0;
    }
}

@media (max-width: 767px) {

    .carrito {
        position: sticky;
        bottom: 0;
        background-color: #606c38;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .galeria-carrito{
        display: flex;
        overflow-x: scroll;
    }

}